html{
    font-size: 62.5%;
    font-family:"Plus Jakarta Sans", sans-serif;
}

body{
    background-color: var(--slate);
    position: relative;
}

.container{
    background-color: var(--white);
    width: 50vw;
    margin: 150px auto;
    border-radius: 25px 0px 0px 25px;
    display: flex;
}

.calculadora{
    padding: 35px;
    width: 50%;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cabecalho h1{
    font-size: 2.0rem;
    color: var(--slate900);
}

.cabecalho button{
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--slate700);
    font-weight: 300;
    font-size: 1.2rem;
}

.cabecalho button:hover{
    cursor: pointer;
    text-decoration: none;
}

.subtitulo{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--slate700);
    font-weight: 600;
}

.part-1{
    display: flex;
    position: relative
}

.campo{
    width: 100%;
    border: 1px solid hsl(203, 41%, 72%);
    border-radius: 5px;
    outline: none;
}

.campo:hover{
    cursor: pointer
}

.campo, .campo-2{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--slate900);
    padding: 20px 20px 20px 70px;
}

.campo-verde{
    border-color: #d8db2f
}

.span-1{
    width: 65px;
    height: 57px;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: var(--slate);
    border-radius: 3px 0 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-pound-sign{
    font-size: 2.5rem;
    color: var(--slate700);
}



input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.part-2{
    
    display: flex;
    justify-content: space-between;
}

.part-2 input{
    padding: 15px 60px 15px 15px;
    border: 1px solid hsl(203, 41%, 72%);
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    width: 95%;
    
   
   
    
}

.span-2 {
        display: flex;
       position: relative
    
}

.span-3{
    width: 65px;
    height: 47px;;
    position: absolute;
    right: 11px;
    top: 1px;
    background-color: var(--slate);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--slate700);
    border-radius: 0 5px 5px 0;
}

.span-4{
    width: 65px;
    height: 47px;;
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: var(--slate);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--slate700);
    border-radius: 0 5px 5px 0; 
}

#p2{
    margin-left: 20px;
    
}

#p2 input{
    width: 100%;
}


.labels{
    border: 1px solid hsl(200, 24%, 40%);
    padding: 15px;
    margin: 8px 0;
    border-radius: 5px;
}

.labels label{
    font-size: 1.8rem;
    padding-left: 10px;
    color: var(--slate900);
    font-weight: 700;
}

input[type="radio"]{
    accent-color: green;
}

.labels:hover{
    cursor: pointer;
}

.verde{
    border: 1px solid  #d8db2f;
    background-color: #d8db2f42;
    padding: 15px;
    margin: 8px 0;
    border-radius: 5px;
    
}

.calcular{
    border: none;
    background-color: #D8DB2F;
    color: var(--slate900);
    font-weight: 700;
    font-size: 1.8rem;
    padding: 12px 10px;
    margin-top: 10px;
    border-radius: 40px;
    width: 70%

}

.calcular::before{
    content: " ";
    background-image: url(../img/icon-calculator.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    transform: translateY(3px);
    margin-right: 10px;
}

.calcular:hover{
    cursor: pointer;
}

.painel-principal{
    background-color: var(--slate900);
    border-radius: 0px 0px 0px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
    
}
.invisivel{
    display: none;
}
.painel-principal img{
    width: 50%;
    margin: 0 auto;
    transform: translateY(-40px);
}

.painel-principal h1, .painel-principal p{
    color: var(--white);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.painel-principal h1{
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 30px;
    
}

.painel-principal p{
    font-size: 1.6rem;
    line-height: 30px;
    color: var(--slate300);
    font-weight: 500;
}

.erro{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
    visibility: hidden;
   
}

.espaco{
    display: inline-block;
    padding-left: 75px;
    
}

.simbolos{
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--slate700);
}

.painel-display{
    background-color: var(--slate800);
    border-radius: 0px 0px 0px 110px;
    width: 50%;
    padding: 30px;
    color: var(--white);
    
}

.painel-display h1{
    margin-bottom: 30px;

}

.painel-display p{
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--slate300);
    font-weight: 400;
}

.caixa{
    width: 98%;
    background-color: var(--slate900);
    margin: 35px 0px;
    border-radius: 15px;
    padding: 30px;
    border-top: 4px solid #D8DB2F;
}

.valor{
    font-size: 5rem;
    font-weight: 500;
    margin: 15px 0 30px 0;
    border-bottom: 1px solid hsl(202, 53%, 25%) ;
    padding-bottom: 30px;
    color: var(--lime);
}

.sub-valor{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 500;
    margin: 8px 0;
}
